.search-container {
    max-width: 600px;
    margin: 40px auto 40px auto;
    display: flex;
    gap: 10px;
    background: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.291);
  }

  .search-container input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
  }

  .search-container button {
    background: var(--hover-blue);
    border: none;
    color: white;
    padding: 0 16px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
  }

  .search-container button:hover {
    background: var(--dark-blue-bg);
  }

  .search-container button:active {
    background: var(--dark-blue-bg);
}


